.product{
    width:300px;
    padding:1rem;
    box-shadow:0px 1px 2px  rgba(0,0,0,0.4);
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:8px auto;
    border-radius:6px;
}
.product>img{
    height:170px;
    border-radius:8px;
}
.product__info p{
    margin-bottom:8px;
    padding:3px;
}
.info__price{
    font-weight: bold;
} 
.info__name{
    padding-top:5px;
    font-size:1rem;
    overflow:hidden;
}
.info__description{
    font-size: 0.8rem;
}
.info__button{
    margin-top:5px;
    color:#171717;
    width: 100%;
    text-decoration: none;
    text-align:center;
    display:block;
    border:none;
    padding: 8px 16px;
    background:#f4f4f4;
    font-size:1rem;
    border-radius:5px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
.info__button:hover{
    background: #171717;
    color:#f4f4f4;
}
@media (max-width:1232px){
    .product{
        width:340px;
    }
 }

@media (max-width:1210px){
   .product{
       width:330px;
   }
}

@media (max-width:1036px){
    .product{
        width:300px;
    }
 }
 @media (max-width:949px){
    .product{
        width:400px;
    }
 }
 @media (max-width:850px){
    .product{
        width:350px;
    }
 }
 @media (max-width:757px){
    .product{
        width:330px;
    }
 }
 @media (max-width:710px){
    .product{
        width:300px;
    }
 }
 @media (max-width:670px){
    .product{
        width:270px;
    }
 }
 @media (max-width:630px){
    .product{
        width:330px;
    }
 }
 @media (max-width:400px){
    .product{
        width:250px;
    }
 }
 
 
 
 
 
 